/* Style of nav bar */
.header {
    text-align: center;
    color: white;
    font-size: 40px;
    }

/* Style of ampersand */
.ampersand {
    float: left;
    margin-right: 10px;
}

/* Style of main forecast */
.jumbotron {
    text-align: left;
    background-color: slateblue;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid navy;
    width: 1025px;
    height: 300px;
    margin-left: 10px;
    margin-top:120px;
     }

/* Text of 5-Day forecast */
.fiveDayForecast {
    margin-top: -35px;
    margin-left: 10px;
    color: navy;
    }

/* Style of forecast boxes */
#forecast {
    margin: 10px 10px 10px 25px;
    height: 175px;
    width: 175px;
    }


/* List of locations searched: */
.locationList {
    color: navy;
    font-size: 20px;
    }

  /* Style of page footer */
.footer {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
    padding: 10px;
    }
 
  /* Style of @media */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightgray;
    }
  }

  /*  I just added this */

#searchBox {
    width: 25%;
    height: 525px;
    border: 1px solid navy;
    padding: 10px;
    background-color: lightgray;
    margin-top: -535px;
    margin-left: 1080px;
}

p{
  margin: 0;
  padding:0;
}
img {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
}