/* Style of nav bar */
.header {
    color: white;
    font-size: 30px;
    margin-right: 800px;
    }

/* Style of ampersand */
.ampersand {
    float: left;

}

#weather-view {
  margin-top: -50px;
}

/* Style of main forecast */
.jumbotron {
    text-align: left;
    background-color: slateblue;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid navy;
    width: 1025px;
    height: 350px;
    margin-left: 10px;
    margin-top: 70px !important;
       }
     
/* Text of 5-Day forecast */
.fiveDayForecast {
    margin-top: -35px;
    margin-left: 10px;
    color: navy;
    }

.card {
  color: white;
  width: 175px;
  height: 200px;
  background-color: slateblue;
  margin: 5px 10px 10px 25px;
}


/* List of locations searched: */
.locationList {
    color: navy;
    font-size: 20px;
    }

  /* Style of page footer */
.footer {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
  
    }
 
  /* Style of @media */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightgray;
    }
  }

  /*  I just added this */

#searchBox {
    width: 25%;
    height: 625px;
    border: 1px solid navy;
    padding: 10px;
    background-color: lightgray;
    margin-top: -600px;
    margin-left: 1080px;
}

